body{
    background-color: aliceblue;    
    font-family: 'Montserrat', sans-serif;     
}
.container{      
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.encabezado{
    width: 80%;
    margin: auto;
    padding: 2em;
}
/* Menu inicial de la aplicacion */
.menu{
    margin: 10% auto;    
    width: 80%;    
}
.btn1{
    display: block;
    margin: 0 auto;    
    cursor: pointer;
    border-radius: 20px;    
}
.btnIni{
    background-color: #0A3871;    
    padding: 30px;
    color: #ffffff;
    width: 20%;
    font-size: 18px;
    border: 1px solid #0A3871;
}
.btnIni:hover{
    background-color: #044da6;
    transition-duration: 1ms;
}
.btnAgr{
    background-color: #ffffff;
    border: 1px solid #0A3871;    
    padding: 25px;
    margin-top: 2em;
    width: 16%;
}
.btnAgr:hover{
    background-color: #dedede;    
    transition-duration: 1ms;
}

.piePagina{
    margin-top: 5%;
}
.piePagina ul{
    text-align: center;   
   
}
.items{
    display: inline-block;
    padding: 10px 7px;    
}
.items a i{
    color: #0A3871;
    font-size: 30px;
}
.ocultar{
    display: none;    
}
    

/* Estilos CSS para la seccion de agregar palabra */

.agrPalabra{
    width: 60%;    
    margin: auto;       
}
.txtAgre{
    width: 400px;
    font-size: 18px;
    padding: 12px;
    margin-left: 30px;
    border: 0;
}
.divControles{    
    margin-top: 40%;
    margin-left: 3em;             
}
.btn{
    display: inline-block;   
    width: 380px;
    height: 80px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;    
}
.btnControl1{
    background-color: #0A3871;
    color: #ffffff;
    border-color: #0A3871;
    margin-right: 10px;
}
.btnControl1:hover{
    background-color: #0f4d99;
    transition-duration: 1ms;
}
.btnControl2{
    background-color: #ffffff;
    color: #0A3871;
    border-color: #0A3871;
    margin-right: 10px;
}
.btnControl2:hover{
    background-color: #dedede;
    transition-duration: 1ms;
}

    
/* Seccion CSS del Juego */
.secJuego{
    margin: auto;
    width: 90%;     
}
.canvahorcado{        
    margin: auto;
    display: block;       
}

.divclsJuego, #palabraAdivinar, #letrasUsadas{   
    margin: 20px auto;    
    width: 70%;
    display: flex;      
}


#listPalabra, .span{
    margin: 0px auto;    
    width: 100%;    
    text-align: center;      
}

.span{
    font-weight: bold;
    color: #1534ff;
    font-size: 20px;
}

.letra{
    font-weight: bold;
    padding-right: 2px;
}

.btn3{
    margin: auto;    
    width: 300px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px; 
}


@media screen and (max-width:1400px){
    
    .txtAgre{        
        width: 80%;
        margin: 10px auto 0 0;
    }
    .divControles{
        width: 80%;
        
    }
    .btn{       
        display: inline-block; 
        width: 48%;
        height: 50px;        
    }
    #palabraAdivinar, #listPalabra, #letrasUsadas, #divclsJuego{
        width: 80%;
    }
    
}

@media screen and (max-width:1000px){
    .menu{
        width: 100%;
    }
    .btnIni, .btnAgr{
        width: 50%;
    }
    .btnIni{
        width: 30%;
    }
    .btnAgr{
        width: 26%;
    }
    .agrPalabra{
        width: 90%;                
    }
    .txtAgre{        
        width: 80%;
        margin: 10px auto 0 0;
    }
    .divControles{
        width: 80%;
        
    }
    .btn{
        display: block;
        width: 90%;
        height: 50px;
        margin: 10px auto 0 0;                    
    }
    .secJuego, .canvahorcado{
        width: 100%;
    }
    #palabraAdivinar, #listPalabra, #letrasUsadas, .divclsJuego{
        width: 80%;
        margin: 0 auto; 
    }
    .divclsJuego{
        display: block;
    }
    .btnControl1, .btnControl2{
        margin: 0 auto; 
        display: flow-root;
        width: 60%;
    }
}


@media screen and (max-width:600px){
    .menu{
        width: 100%;
    }
    .btnIni, .btnAgr{
        width: 50%;
    }
    #palabraAdivinar, #listPalabra, #letrasUsadas, .divclsJuego{
        width: 90%;
        margin: 0 auto; 
    }
    .btnControl1, .btnControl2{
        margin: 0 auto; 
        display: flow-root;
        width: 100%;
    }
    .letra{
        font-size: 5px;
    }
}
